<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %> acabou de solicitar um anúncio pelo site!</h1>
    <p>
      Entre em contato com ela através do telefone: <%= @user.phone %>.<br/>
    </p>
    <p>
      Vamos fechar mais uma anúncio!
    </p>
    <p>Boa Sorte!</p>
  </body>
</html>