<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Olá, <%= @user.name %></h1>
    <p>
      Para anúnciar no hotaffair você precisará dos seguintes documentos.<br/>
    </p>
	<ul>
		<li>Documento de identificação civil com foto (cópia e original)</br>* Para comprovação de maioridade.</li>
		<li>Autorização de uso de imagem para publicidade digital que será fornecida pela Hotaffair.</li>
		
	</ul>
    <p>
		De posse deste documentos encaminhe-se para nosso escritório na Rua Uruguaiana n39, sala 1608.
	</p>
	
    <p>Ficamos felizes em seu interesse e esperamos que em breve você seja mais uma anunciante de sucesso!</p>
  </body>
</html>