 
  <!-- Main Page Content and Sidebar -->
 
  <div class="row">
 
    <!-- Contact Details -->
    <div class="large-9 columns">
 
      <h3>Anuncie Agora!</h3>
      <p>Para anunciar basta preencher o formulário abaixo e enviaremos para seu email todas as instruções detalhadas para anúnico.</p>
 
      <%= render 'form' %>
       
      </div>
    </div>
 
    <!-- End Contact Details -->
 
 
    <!-- Sidebar -->
 

    <div class="large-3 columns">
      
    </div>
    <!-- End Sidebar -->
  </div>
 
  <!-- End Main Content and Sidebar -->




