 
  <!-- Main Page Content and Sidebar -->
 
  <div class="row">
 
    <!-- Contact Details -->
    <div class="large-9 columns">
 
      <h3>Anuncie Agora!</h3>
      <p>Ainda temos algumas vagas sobrando para anunciantes.</p>
	  <p>Preencha nosso formul&aacute;rio de anunciantes e voc&ecirc; receber&aacute; uma resposta por email com todo o procedimento necess&aacute;rio para fazer parte da Hotaffair.</p>
	  <p>Enviaremos todas as informa&ccedil;&otilde;es necess&aacute;rias para voc&ecirc; anunciar e come&ccedil;ar a receber liga&ccedil;&otilde;es de clientes do Brasil e exterior.</p>
	 
 
      <%= render 'form' %>
       
      </div>
    </div>
 
    <!-- End Contact Details -->
 
 
    <!-- Sidebar -->
 

    <div class="large-3 columns">
      
    </div>
    <!-- End Sidebar -->
  </div>
 
  <!-- End Main Content and Sidebar -->




