<!-- Header and Nav -->
  <nav class="top-bar show-for-small">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <%= link_to "Hotaffair - Guia de Acompanhantes", root_path %>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon show-for-small"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <ul class="left">
        
        <li class="divider"></li>
        <li><%= link_to 'Sobre a Hotaffair','sobre'%></li>
		<li class="divider"></li>
		<li><%= link_to "Como Anunciar", "como-anunciar" %></li>
        
       
      </ul>

      
      </ul>
    </section>
  </nav>