<div class="row">
    <div class="large-12 columns">
 
      
 
 
      <!-- Header Content -->
 
        <div class="row">
 
          <div class="large-6 columns">
 
            	<iframe  width='500' height='500' frameBorder='0' src='http://a.tiles.mapbox.com/v3/trevobr.map-1fz30rai.html#2/-1/-8'></iframe>
 
          </div>
 
 
          <div class="large-6 columns">
 
            <h3 class="show-for-small">Sobre a Hotaffair<hr/></h3>
 
            <div class="panel">
              <h4 class="hide-for-small">Sobre a Hotaffair<hr/></h4>
              <p>Hotaffair é o site de acompanhantes que mais cresce no Rio de Janeiro.</p>
              <p>Nosso serviço de divulgação preza pela transparência da comunidade de acompanhantes, criando uma grande credibilidade entre os acompanhantes e clientes.</p>
  			<p>Com o site traduzido para diversas línguas, Hotaffair tem um forte apelo internacional, gerando visitas de todo o mundo.</p>
  			<p>Hotaffair dá a oportunidade para as acompanhantes anunciarem individualmente diferente de outros canais na web.</p>
			<p>HOTAFFAIR.com.br é o nome mais recomendado, no ramo de guia de acompanhantes, com as mais belas modelos.</p>
            
            </div>
 
         
 
          </div>
 
        </div>
 
      <!-- End Header Content -->



      <div class="large-12 columns">
 
      
 

                <p>Construimos o maior guia de acompanhantes do Rio de Janeiro, qui&ccedil;&aacute; do Brasil, respeit&aacute;vel por ajud&aacute;-lo a encontrar a acompanhante ideal, visando apimentar com sabor er&oacute;tico o seu fetiche, tendo como prioridade a felicidade sensual que est&aacute; ligada aos prazeres dos sentidos, como o sexual.</p>
				<p>Momentos &uacute;nicos em del&iacute;rios de paix&atilde;o ardente que envolver&aacute; uma atmosfera &agrave; busca incans&aacute;vel do seu ponto G, entre diversas pessoas que procuram prazer.</p>
				<p>Nosso guia tem modelos do mais variado gosto, onde voc&ecirc; pode entrar em contato com as acompanhantes com muita privacidade.</p>
				<p>Tenha um hotaffair (caso quente) hoje nas nossas p&aacute;ginas. Ter um hotaffair nunca foi t&atilde;o excitante e ardente; em nosso site damos &agrave; voc&ecirc; garantia que podemos te proporcionar momentos inesquec&iacute;veis.</p>
                <p>Nosso servi&ccedil;o de divulga&ccedil;&atilde;o preza pela transpar&ecirc;ncia da comunidade de acompanhantes, criando uma grande credibilidade entre as acompanhantes e clientes.</p>
    			<p>Com o site traduzido para diversas l&iacute;nguas, Hotaffair tem um forte apelo internacional, gerando visitas de todo o mundo.</p>
    			<p>Hotaffair d&aacute; a oportunidade para as acompanhantes anunciarem individualmente diferente de outros canais na web.</p>
				<p>Agradecemos sua escolha.</p>
				<p>Entre e divirta-se com prazer.</p>
          </div>






    </div>

    <!-- End Main Content -->


