<div class="row">
    <div class="large-12 columns">
 
      
 
 
      <!-- Header Content -->
 
        <div class="row">
 
          <div class="large-6 columns">
 
            	<iframe width='500' height='500' frameBorder='0' src='http://a.tiles.mapbox.com/v3/trevobr.map-1fz30rai.html#2/33.0/-22.7'></iframe>
 
          </div>
 
 
          <div class="large-6 columns">
 
            <h3 class="show-for-small">Sobre a Hotaffair<hr/></h3>
 
            <div class="panel">
              <h3 class="hide-for-small">Sobre a Hotaffair<hr/></h3>
              <p>Hotaffair é o site de acompanhantes que mais cresce no Rio de Janeiro.</p>
              <p>Nosso serviço de divulgação preza pela transparência da comunidade de acompanhantes, criando uma grande credibilidade entre os acompanhantes e clientes.</p>
  			<p>Com o site traduzido para diversas línguas , Hotaffair tem um forte apelo internacional, gerando visitas de todo o mundo.</p>
  			<p>Com o site traduzido para diversas línguas , Hotaffair tem um forte apelo internacional, gerando visitas de todo o mundo.</p>
  			<p>Hotaffair dá a oportunidade para as acompanhantes anunciarem individualmente diferente de outros canais na web.</p>
            
            </div>
 
         
 
          </div>
 
        </div>
 
      <!-- End Header Content -->










    </div>

    <!-- End Main Content -->


