<div class="row">
  
    <div class="large-8 columns">
      <h3>Pronto!</h3> 
	  <h4>J&aacute; sabemos um pouco mais sobre voc&ecirc;!</h4>
      <p>Enviamos as instru&ccedil;&otilde;es de como anunciar para seu e-mail, caso n&atilde;o tenha recebido, verifique sua caixa de spam ou lixeira.</p>
      <p>Aguarde nosso contato por telefone.</p>
      <p><a href="#" class="secondary small button">Veja a p&aacute;gina de anunciantes</a></p>
    </div>
    
    <div class="large-4 columns">
    
      <!-- Gallery sidebar with a block grid. Note: block grid items should be the same size for optimal results -->
      
      <ul class="small-block-grid-3">
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
      </ul>
    </div>
        
  </div>