<!-- Main Page Content and Sidebar -->
 
  <div class="row">
 
    <!-- Main Blog Content -->
    <div class="large-12 columns" role="content">
 
      <article>
 
        <h4 class="hide-for-small">Politica de privacidade</h4>
        <h6>Brasex Guia de Entretenimento para Adultos Ltda.  é a empresa proprietária do portal hotaffair.com.br.</h6>
 
        <div class="row">
          <div class="large-12 columns">
            <p>HOTAFFAIR: é o portal no qual o endereço é http://www.hotaffair.com.br, com todos os recursos e ferramentas relacionadas a este site.</p>
            <p>USUÁRIO(S): são as pessoas que acessam a HOTAFAAIR.</p>
			<p>ANUNCIANTE(S): são as pessoas ou empresas que veiculam seus anúncios ou publicidade no Hotaffair.</p>
			<p>A presente visa informar as responsabilidades, deveres e obrigações de todos os usuários  ao acessar a HOTAFFAIR.</p>
			<p>Deve ser  lido com muita atenção os termos abaixo antes de entrar ou utilizar a HOTAFFAIR, pois o acesso ou uso deste implica em concordância com tais termos. O SITE e os demais participantes deste portal somente fornecerão ao USUÁRIO informações e serviços mediante expressa concordância aos termos, condições e informações aqui contidas, assim como aos demais documentos incorporados ao mesmo por referência. O uso da HOTAFFAIR significa a total concordância com tais termos, condições e informações.</p>
			<p>O HOTAFFAIR atua como veiculador de anúncios vindos dos mais diversos anunciantes e, portanto, não atuamos  como prestador de serviços de consultoria ou ainda intermediário ou participante em nenhum negócio entre o USUÁRIO e o(s) ANUNCIANTE(S).</p>
			<p>Dessa forma, o SITE não poderá assumir responsabilidade por nenhuma consequência que caso haja de qualquer relação entre o USUÁRIO e o(s) ANUNCIANTE(S), seja ela direta ou indireta. Assim, o SITE não é responsável por qualquer ação ou omissão do USUÁRIO baseada nas informações, anúncios, fotos, vídeos ou outros materiais veiculados no HOTAFFAIR.</p>
			<p>Adicionalmente, o SITE envida seus melhores esforços para manter a HOTAFFAIR sempre atualizado, preciso e completo, mas não se responsabiliza por imprecisão, erro, fraude, inexatidão ou divergência nos dados, fotos e vídeos ou outros materiais relacionados a anúncios ou a falta de precisções das informações aqui contidas. Por isto, nos casos em que um ou mais USUÁRIOS ou algum terceiro inicie qualquer tipo de reclamação ou ação legal contra um ou mais ANUNCIANTE(S), todos os envolvidos nas reclamações ou ações devem eximir toda responsabilidade o SITE e seus funcionários, agentes, operários, representantes e procuradores.</p>
			<p>O SITE também não se responsabiliza pelas obrigações tributárias que recaiam nas atividades entre USUÁRIO e ANUNCIANTE(S) do HOTAFFAIR. Assim, ao adquirir algum bem, ou serviço o consumidor deverá exigir nota fiscal do vendedor, recibos, a menos que este esteja legalmente dispensado de fornecê-la.</p>
			<p>Recomenda-se que na Internet toda transação seja realizada com cautela e bom senso redobrados. O USUÁRIO deverá avaliar os riscos das negociações, levando em consideração que pode estar, eventualmente, lidando com menores de idade ou pessoas valendo-se de falsas identidades.</p>
          </div>
        </div>
      </article>

 
    </div>
 
    <!-- End Main Content -->
 
 
    <!-- Sidebar -->
 
    
 
    <!-- End Sidebar -->
  </div>
 
  <!-- End Main Content and Sidebar -->
