<!-- Main Page Content and Sidebar -->
 
  <div class="row">
 
    <!-- Main Blog Content -->
    <div class="large-12 columns" role="content">
 
      <article>
 
        <h3>Politica de privacidade</h3>
        <h6>Brasex Guia de Entretenimento para Adultos Ltda.  &eacute; a empresa propriet&aacute;ria do portal hotaffair.com.br.</h6>
 
        <div class="row">
          <div class="large-12 columns">
            <p>HOTAFFAIR: é o portal no qual o endereço é http://www.hotaffair.com.br, com todos os recursos e ferramentas relacionadas a este site.</p>
            <p>USU&Aacute;RIO(S): s&atilde;o as pessoas que acessam a HOTAFAAIR.</p>
			<p>ANUNCIANTE(S): s&atilde;o as pessoas ou empresas que veiculam seus an&uacute;ncios ou publicidade no Hotaffair.</p>
			<p>A presente visa informar as responsabilidades, deveres e obriga&ccedil;&otilde;es de todos os usu&aacute;rios  ao acessar a HOTAFFAIR.</p>
			<p>Deve ser  lido com muita aten&ccedil;&atilde;o os termos abaixo antes de entrar ou utilizar a HOTAFFAIR, pois o acesso ou uso deste implica em concord&acirc;ncia com tais termos. O SITE e os demais participantes deste portal somente fornecer&atilde;o ao USU&Aacute;RIO informa&ccedil;&otilde;es e servi&ccedil;os mediante expressa concord&acirc;ncia aos termos, condi&ccedil;&otilde;es e informa&ccedil;&otilde;es aqui contidas, assim como aos demais documentos incorporados ao mesmo por refer&ecirc;ncia. O uso da HOTAFFAIR significa a total concord&acirc;ncia com tais termos, condi&ccedil;&otilde;es e informa&ccedil;&otilde;es.</p>
			<p>O HOTAFFAIR atua como veiculador de an&uacute;ncios vindos dos mais diversos anunciantes e, portanto, n&atilde;o atuamos  como prestador de servi&ccedil;os de consultoria ou ainda intermedi&aacute;rio ou participante em nenhum neg&oacute;cio entre o USU&Aacute;RIO e o(s) ANUNCIANTE(S).</p>
			<p>Dessa forma, o SITE n&atilde;o poder&aacute; assumir responsabilidade por nenhuma consequ&ecirc;ncia que caso haja de qualquer rela&ccedil;&atilde;o entre o USU&Aacute;RIO e o(s) ANUNCIANTE(S), seja ela direta ou indireta. Assim, o SITE n&atilde;o &eacute; respons&aacute;vel por qualquer a&ccedil;&atilde;o ou omiss&atilde;o do USU&Aacute;RIO baseada nas informa&ccedil;&otilde;es, an&uacute;ncios, fotos, v&iacute;deos ou outros materiais veiculados no HOTAFFAIR.</p>
			<p>Adicionalmente, o SITE envida seus melhores esfor&ccedil;os para manter a HOTAFFAIR sempre atualizado, preciso e completo, mas n&atilde;o se responsabiliza por imprecis&atilde;o, erro, fraude, inexatid&atilde;o ou diverg&ecirc;ncia nos dados, fotos e v&iacute;deos ou outros materiais relacionados a an&uacute;ncios ou a falta de precis&otilde;es das informa&ccedil;&otilde;es aqui contidas. Por isto, nos casos em que um ou mais USU&Aacute;RIOS ou algum terceiro inicie qualquer tipo de reclama&ccedil;&atilde;o ou a&ccedil;&atilde;o legal contra um ou mais ANUNCIANTE(S), todos os envolvidos nas reclama&ccedil;&otilde;es ou a&ccedil;&otilde;es devem eximir toda responsabilidade o SITE e seus funcion&aacute;rios, agentes, oper&aacute;rios, representantes e procuradores.</p>
			<p>O SITE tamb&eacute;m n&atilde;o se responsabiliza pelas obriga&ccedil;&otilde;es tribut&aacute;rias que recaiam nas atividades entre USU&Aacute;RIO e ANUNCIANTE(S) do HOTAFFAIR. Assim, ao adquirir algum bem, ou servi&ccedil;o o consumidor dever&aacute; exigir nota fiscal do vendedor, recibos, a menos que este esteja legalmente dispensado de fornec&ecirc;-la.</p>
			<p>Recomenda-se que na Internet toda transa&ccedil;&atilde;o seja realizada com cautela e bom senso redobrados. O USU&Aacute;RIO dever&aacute; avaliar os riscos das negocia&ccedil;&otilde;es, levando em considera&ccedil;&atilde;o que pode estar, eventualmente, lidando com menores de idade ou pessoas valendo-se de falsas identidades.</p>
          </div>
        </div>
      </article>

 
    </div>
 
    <!-- End Main Content -->
 
 
    <!-- Sidebar -->
 
    
 
    <!-- End Sidebar -->
  </div>
 
  <!-- End Main Content and Sidebar -->
