<!-- Main Page Content and Sidebar -->
 
  <div class="row">
 
    <!-- Main Blog Content -->
    <div class="large-12 columns" role="content">
 
      <article>
 
        <h4 class="hide-for-small">Termos e condições de uso</h4><br/>
        <h6>Atenção! Conteúdo Adulto:</h6>
 
        <div class="row">
          <div class="large-6 columns">
            <p>Este site oferece conteúdo erótico e adulto não autorizado para menores de 18 anos, caso você não tenha atingido essa maioridade ou em seu país esse tipo de conteúdo é proibido, favor desconectar-se.
</p>
            <p>Caso você não tenha essas restrições a sua pessoa, favor ler e concordar com os termos e condições de uso do site, para poder acessar o seu conteúdo.</p>
          </div>
          <div class="large-6 columns">
              <%= image_tag "use_camisinha.jpg" %>
          </div>
        </div>
 
      </article>
 
      <hr />
 
      <article>
 
        <h6>Do Usu&aacute;rio Visitante:</h6>
 
        <div class="row">
          <div class="large-12 columns">
            <p>1&ordm; - Tenho mais de 18 anos de idade e em meu país essa maioridade me permite ao acesso deste conteúdo.
</p>
			<p>2&ordm; - Declaro estar ciente que o material exposto neste site é de conteúdo erótico e adulto, e que estou acessando para o meu uso pessoal e não irei expor este conteúdo a menores de 18 anos ou a outros que exista alguma restrição legal ou moral.</p>
          </div>
        </div>
		
 		<p>3&ordm; - Assumo inteira responsabilidade cível e criminal pelo uso indevido dos materiais fotográficos, vídeos e outros existentes no site, uma vez que as veiculações dos anúncios não representam cessão de direitos de imagem aos visitantes e usuários.</p>

        <p>4&ordm; Declaro também estar ciente que o Site HOTAFFAIR.COM.BR é um site de classificados de produtos e serviços relacionados ao mercado adulto, e que o mesmo não tem nenhum vínculo com os produtos ou serviços divulgados.</p>
 
      </article>
 
      <article>
 
        <h6>Da HOTAFFAIR.COM.BR aos Visitantes e Usuários:</h6>
 
        <div class="row">
          <div class="large-12 columns">
            <p>Nosso Site tem como objetivo a divulgação de produtos e serviços do mercado adulto ou correlacionados e torná-los público a quem busca esse tipo de conteúdo e informação, desde que se tenha autoridade legal para acessar tal conteúdo, ou seja, que o visitante ou usuário tenha maioridade exigida pela constituição brasileira.</p>
			<p>A HOTAFFAIR.COM.BR se posiciona como um catálogo de produtos e serviços eróticos ou classificados dos mesmos, mas tendo como sua única responsabilidade, a prestação de serviço em publicidade dos produtos e serviços que nossos anunciantes solicitam a publicação através de uma taxa de manutenção.</p>
			<p>Em nosso Site, todo anúncio de um produto ou serviço erótico publicado, é de inteira responsabilidade da empresa ou profissional autônomo Anunciante. Sendo assim, não nos comprometemos com a qualidade, atendimento, entrega ou qualquer outro valor agregado dos produtos e serviços prestados por nossos Anunciantes.</p>
			<p>Nós da HOTAFFAIR.COM.BR, não nos comprometemos com a total veracidade das informações passadas por nossos anunciantes. Salvo os números de telefone para contato. Isso porque, alguns de nossos anunciantes usam pseudônimos para atender seus clientes, como no caso das Acompanhantes e Massagistas que se divulgam em nosso site.</p>
			<p>A HOTAFFAIR.COM.BR entende os serviços de Acompanhantes e Massagistas como serviços autônomos sem certificações para os mesmos que os identifiquem. Entendendo assim, o serviço de Acompanhante, como aquela pessoa que acompanha outra em eventos sociais ou pessoal só para ter alguém lhe fazendo companhia. E Massagista, a pessoa que se posiciona em tentar relaxar outra com movimentos diversos utilizando suas mãos e força muscular para tentar trazer algum conforto nos músculos de quem esta recebendo tal esforço por outro cedido. Sendo assim, tais atividades podem ser cobradas, onde os mesmos estipulam uma taxa por esses serviços prestados, mas sem uma intervenção de algum órgão que os coloque uma tabela de valor por cada serviço e possa regular e mediar esse mercado. Ou seja, cada profissional autônomo destas modalidades, poderá cobrar o valor que bem entenderem.</p>
			<p>Todos os anunciantes presentes no site assinaram um termo de autorização e responsabilidade para autorização da publicação de seu anúncio, com as informações: (nomes artísticos, telefones, dados pessoais, dimensões, medidas e texto descritivo dos seus serviços ou produtos) de sua livre autoria e inteira responsabilidade.</p>
			<p>O site HOTAFFAIR.COM.BR declara que todos os nossos anunciantes têm maioridade legal para se vincularem a um site erótico e prestarem seus serviços e comercializarem seus produtos.</p>
			<p>E caso você desconfie ou saiba que possa existir alguma fraude aplicada por um de nossos anunciantes, nos avise imediatamente.</p>
			<h6>Diga não ao Trabalho e Prostituição Infantil!<br/>
Submeter criança ou adolescente à prostituição ou exploração sexual  é crime com pena de reclusão de 4 a 10 anos e multa, ART. 244-A LEI 8.069/90.</h6>

          </div>
		  
        </div>
 
      </article>
	  
    </div>
 
    <!-- End Main Content -->
 
 
    <!-- Sidebar -->
 
    
 
    <!-- End Sidebar -->
  </div>
 
  <!-- End Main Content and Sidebar -->
