<!-- Main Page Content and Sidebar -->
 
  <div class="row">
 
    <!-- Main Blog Content -->
    <div class="large-12 columns" role="content">
 
      <article>
 
        <h3>Termos e condi&ccedil;&otilde;es de uso</h3><br/>
        <h6>Aten&ccedil;&atilde;o! Conte&uacute;do Adulto:</h6>
 
        <div class="row">
          <div class="large-6 columns">
            <p>Este site oferece conte&uacute;do er&oacute;tico e adulto n&atilde;o autorizado para menores de 18 anos, caso voc&ecirc; n&atilde;o tenha atingido essa maioridade ou em seu pa&iacute;s esse tipo de conte&uacute;do &eacute; proibido, favor desconectar-se ou clique na op&ccedil;&atilde;o abaixo no bot&atilde;o fechar.
</p>
            <p>Caso voc&ecirc; n&atilde;o tenha essas restri&ccedil;&otilde;es a sua pessoa, favor ler e concordar com os termos e condi&ccedil;&otilde;es de uso do site, para poder acessar o seu conte&uacute;do.</p>
          </div>
          <div class="large-6 columns">
              <%= image_tag "use_camisinha.jpg" %>
          </div>
        </div>
 
      </article>
 
      <hr />
 
      <article>
 
        <h6>Do Usu&aacute;rio Visitante:</h6>
 
        <div class="row">
          <div class="large-12 columns">
            <p>1&ordm; - Tenho mais de 18 anos de idade e em meu pa&iacute;s essa maioridade me permite ao acesso deste conte&uacute;do.
</p>
			<p>2&ordm; - Declaro estar ciente que o material exposto neste site &eacute; de conte&uacute;do er&oacute;tico e adulto, e que estou acessando para o meu uso pessoal e n&atilde;o irei expor este conte&uacute;do a menores de 18 anos ou a outros que exista alguma restri&ccedil;&atilde;o legal ou moral.</p>
          </div>
        </div>
		
 		<p>3&ordm; - Assumo inteira responsabilidade c&iacute;vel e criminal pelo uso indevido dos materiais fotogr&aacute;ficos, v&iacute;deos e outros existentes no site, uma vez que as veicula&ccedil;&otilde;es dos an&uacute;ncios n&atilde;o representam cess&atilde;o de direitos de imagem aos visitantes e usu&aacute;rios.</p>

        <p>4&ordm; Declaro tamb&eacute;m estar ciente que o Site HOTAFFAIR.COM.BR &eacute; um site de classificados de produtos e servi&ccedil;os relacionados ao mercado adulto, e que o mesmo n&atilde;o tem nenhum v&iacute;nculo com os produtos ou servi&ccedil;os divulgados.</p>
 
      </article>
 
      <article>
 
        <h6>Da HOTAFFAIR.COM.BR aos Visitantes e Usu&aacute;rios:</h6>
 
        <div class="row">
          <div class="large-12 columns">
            <p>Nosso Site tem como objetivo a divulga&ccedil;&atilde;o de produtos e servi&ccedil;os do mercado adulto ou correlacionados e torn&aacute;-los p&uacute;blico a quem busca esse tipo de conte&uacute;do e informa&ccedil;&atilde;o, desde que se tenha autoridade legal para acessar tal conte&uacute;do, ou seja, que o visitante ou usu&aacute;rio tenha maioridade exigida pela constitui&ccedil;&atilde;o brasileira.</p>
			<p>A HOTAFFAIR.COM.BR se posiciona como um cat&aacute;logo de produtos e servi&ccedil;os er&oacute;ticos ou classificados dos mesmos, mas tendo como sua &uacute;nica responsabilidade, a presta&ccedil;&atilde;o de servi&ccedil;o em publicidade dos produtos e servi&ccedil;os que nossos anunciantes solicitam a publica&ccedil;&atilde;o atrav&eacute;s de uma taxa de manuten&ccedil;&atilde;o.</p>
			<p>Em nosso Site, todo an&uacute;ncio de um produto ou servi&ccedil;o er&oacute;tico publicado, &eacute; de inteira responsabilidade da empresa ou profissional aut&ocirc;nomo Anunciante. Sendo assim, n&atilde;o nos comprometemos com a qualidade, atendimento, entrega ou qualquer outro valor agregado dos produtos e servi&ccedil;os prestados por nossos Anunciantes.</p>
			<p>N&oacute;s da HOTAFFAIR.COM.BR, n&atilde;o nos comprometemos com a total veracidade das informa&ccedil;&otilde;es passadas por nossos anunciantes. Salvo os n&uacute;meros de telefone para contato. Isso porque, alguns de nossos anunciantes usam pseud&ocirc;nimos para atender seus clientes, como no caso das Acompanhantes e Massagistas que se divulgam em nosso site.</p>
			<p>A HOTAFFAIR.COM.BR entende os servi&ccedil;os de Acompanhantes e Massagistas como servi&ccedil;os aut&ocirc;nomos sem certifica&ccedil;&otilde;es para os mesmos que os identifiquem. Entendendo assim, o servi&ccedil;o de Acompanhante, como aquela pessoa que acompanha outra em eventos sociais ou pessoal s&oacute; para ter algu&eacute;m lhe fazendo companhia. E Massagista, a pessoa que se posiciona em tentar relaxar outra com movimentos diversos utilizando suas m&atilde;os e for&ccedil;a muscular para tentar trazer algum conforto nos m&uacute;sculos de quem esta recebendo tal esfor&ccedil;o por outro cedido. Sendo assim, tais atividades podem ser cobradas, onde os mesmos estipulam uma taxa por esses servi&ccedil;os prestados, mas sem uma interven&ccedil;&atilde;o de algum &oacute;rg&atilde;o que os coloque uma tabela de valor por cada servi&ccedil;o e possa regular e mediar esse mercado. Ou seja, cada profissional aut&ocirc;nomo destas modalidades, poder&aacute; cobrar o valor que bem entenderem.</p>
			<p>Todos os anunciantes presentes no site assinaram um termo de autoriza&ccedil;&atilde;o e responsabilidade para autoriza&ccedil;&atilde;o da publica&ccedil;&atilde;o de seu an&uacute;ncio, com as informa&ccedil;&otilde;es: (nomes art&iacute;sticos, telefones, dados pessoais, dimens&otilde;es, medidas e texto descritivo dos seus servi&ccedil;os ou produtos) de sua livre autoria e inteira responsabilidade.</p>
			<p>O site HOTAFFAIR.COM.BR declara que todos os nossos anunciantes t&ecirc;m maioridade legal para se vincularem a um site er&oacute;tico e prestarem seus servi&ccedil;os e comercializarem seus produtos.</p>
			<p>E caso voc&ecirc; desconfie ou saiba que possa existir alguma fraude aplicada por um de nossos anunciantes, nos avise imediatamente.</p>
			<h6>Diga n&atilde;o ao Trabalho e Prostitui&ccedil;&atilde;o Infantil!<br/>
Submeter crian&ccedil;a ou adolescente &agrave; prostitui&ccedil;&atilde;o ou explora&ccedil;&atilde;o sexual  &eacute; crime com pena de reclus&atilde;o de 4 a 10 anos e multa, ART. 244-A LEI 8.069/90.</h6>

          </div>
		  
        </div>
 
      </article>
	  
    </div>
 
    <!-- End Main Content -->
 
 
    <!-- Sidebar -->
 
    
 
    <!-- End Sidebar -->
  </div>
 
  <!-- End Main Content and Sidebar -->
