// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title-area{height:155px;}
body{background: url("/assets/background-top.png") repeat-x fixed #000;color:#fff;};
a{color:#fcc60e;}
a:hover{color:red;}
.top-bar{background-color:transparent;}
h1, span{color:#FCC60E;}
.panel h5 {color:#FCC60E;}
.hot-name{font-size:2em;color:red;}
div.capty-caption a {
    color: #fff;
    font-size: 1.5em;
    text-decoration: none;
    text-shadow: none;
}
.panel h4{color:#faca0e;}
h4{color:#faca0e;}
h3{ color: #faca0e;
    font-size: 1.5em;
	text-transform:uppercase;}
h6{color:red;}
h2{ color: #FCC60E;
    font-size: 1.2em;}
hr{border:none;}
.panel{background:transparent;color:#fff;border:none;}
.panel p{color:#fff;}
button, .button {
    background-color: #A01103;
    border-color: transparent;
    border-style: transparent;
    border-width: 1px;
    color: #FCC60E;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 1em;
    font-weight: bold;
    line-height: 1;
    float:right;
    padding: 0.75em 1.5em 0.8125em;
    position: relative;
    text-align: center;
    text-decoration: none;
}
button:hover, button:focus, .button:hover, .button:focus {
    background-color: #FACA0E;
    color:#000;
}

//comeca card

              
.card {
  position: relative;
  padding: 0;
  margin: 0;
  -webkit-perspective: 5000;
  perspective: 5000; 
}

.card .container {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: 0.20s;
  transition: 0.20s; 
}

.card .container .front, .card .container .back {
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; 
}

.card .container .front .row, .card .container .front .column, .card .container .front .columns, .card .container .back .row, .card .container .back .column, .card .container .back .columns {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; 
}

.card .container .front {
  z-index: 2; 
}

.card .container .back {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  overflow-y: scroll;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg); 
}

.card .container:hover {
  -webkit-transform: rotate3d(0, 1, 0, 180deg);
  transform: rotate3d(0, 1, 0, 180deg); 
}

.card .container {
  border: solid 0px #eeeeee; 
}

.card .container .front, .card .container .back {
  padding: 0em; 
}

.card.square .container {
  width: 100%;
  height: 0;
  padding-bottom: 100%; 
}  
div.content{background-color:transparent;}            
        